.Form{
    margin: 4rem 20rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:3rem;
}
.Form input{
    padding: 1rem 2rem;
    border-radius: 8px;
    color:black;
    font-size: 1rem;
}
.Form h1{
    padding-left: 35%;
    font-size: 42px;
    color: rgb(225, 158, 14);
}
.Form button{
    padding: 1rem 2rem;
    background-color: aquamarine;
    border-radius: 9px;
}